$color-text: #000000;
$color-white: #FFFFFF;
$color-background: #EBEBEB;
$color-button: #005FA3;
$color-button-hover: #035996;
$color-text-title: #BDBDBD;

$wrapper-width: 1120px;

$font-family-header: 'Merriweather';

$font-size-header: 48px;
$font-size-text: 18px;

$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

$tablet: 1045px;
$gap: 723px;
$mobile: 576px;