.footer {
    background-color: $color-background;
    padding: 40px 0px 50px;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__copyright, &__developer {
        font-weight: $light;
        font-size: 14px;
    }
}

.footer {

    @media (max-width: $mobile) {
        .wrapper {
            flex-direction: column-reverse;
            align-items: center;
            row-gap: 18px;
        }
    }
}